{% extends 'admin/base-granted.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>


        <!-- Content Row -->
        <div class="row">

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Need a help?</h6>
                    </div>
                    <div class="card-body">
                        <p>If you need a help, contact me on: <a href="mailto:kristijan@soldo.dev">kristijan@soldo.dev</a>, <br>or report a issue on GitHub repository. </p>
                        <a target="_blank" rel="nofollow" href="https://github.com/kristijansoldo/symfony-hotel-booking-app">GitHub &rarr;</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}
