<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hotel booking administration">
    <meta name="author" content="Kristijan Soldo">

    <title>{% block title %}{% endblock %} | Hotel Booking Admin</title>

    <link href="{{ asset('build/vendors~admin.css') }}" rel="stylesheet">
    <link href="{{ asset('build/admin.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bg-gradient-primary" id="page-top">

{% block body %}{% endblock %}

<script src="{{ asset('build/vendors~admin.js') }}"></script>
<script src="{{ asset('build/admin.js') }}"></script>

</body>